<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790404680855-8dnbakcn3m6q56nnkubebtck0seqh109.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790404680855-8dnbakcn3m6q56nnkubebtck0seqh109</string>
	<key>API_KEY</key>
	<string>AIzaSyCX3487yLNeuS5v3mtf4J95ervrmSo7MRc</string>
	<key>GCM_SENDER_ID</key>
	<string>790404680855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.PetFolio.Infinitus</string>
	<key>PROJECT_ID</key>
	<string>petfolio-a7c71</string>
	<key>STORAGE_BUCKET</key>
	<string>petfolio-a7c71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790404680855:ios:c8b8407f47752d18b3edd2</string>
	<key>DATABASE_URL</key>
	<string>https://petfolio-a7c71.firebaseio.com</string>
</dict>
</plist>