<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415750074843-e8on0la49aukoqanjh6nee83p5lakf9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415750074843-e8on0la49aukoqanjh6nee83p5lakf9g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>415750074843-lmdofq8rn2tke3dhu8k02n779fihf495.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBq6YK_r9XNtKCycLN0cS3kGdzAYdTcFqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>415750074843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petfolio.infinitu</string>
	<key>PROJECT_ID</key>
	<string>petfolio-298707</string>
	<key>STORAGE_BUCKET</key>
	<string>petfolio-298707.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415750074843:ios:f0505cc042d452a205f7fe</string>
</dict>
</plist>