<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Petfolio.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>464856099BDEA5CBE45A312599D32E50B2695E22</string>
				<key>dateExpires</key>
				<string>02/10/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>464856099BDEA5CBE45A312599D32E50B2695E22</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AAMaterialSpinner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PLV25N8T7A</string>
						<key>name</key>
						<string>Hari Prashath Manivasagam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>464856099BDEA5CBE45A312599D32E50B2695E22</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PLV25N8T7A</string>
						<key>name</key>
						<string>Hari Prashath Manivasagam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>464856099BDEA5CBE45A312599D32E50B2695E22</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PLV25N8T7A</string>
						<key>name</key>
						<string>Hari Prashath Manivasagam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>464856099BDEA5CBE45A312599D32E50B2695E22</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PLV25N8T7A</string>
						<key>name</key>
						<string>Hari Prashath Manivasagam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>464856099BDEA5CBE45A312599D32E50B2695E22</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PLV25N8T7A</string>
						<key>name</key>
						<string>Hari Prashath Manivasagam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>464856099BDEA5CBE45A312599D32E50B2695E22</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PLV25N8T7A</string>
						<key>name</key>
						<string>Hari Prashath Manivasagam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>464856099BDEA5CBE45A312599D32E50B2695E22</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PLV25N8T7A</string>
						<key>name</key>
						<string>Hari Prashath Manivasagam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>464856099BDEA5CBE45A312599D32E50B2695E22</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PLV25N8T7A</string>
						<key>name</key>
						<string>Hari Prashath Manivasagam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>464856099BDEA5CBE45A312599D32E50B2695E22</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PLV25N8T7A</string>
						<key>name</key>
						<string>Hari Prashath Manivasagam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>464856099BDEA5CBE45A312599D32E50B2695E22</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PLV25N8T7A</string>
						<key>name</key>
						<string>Hari Prashath Manivasagam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>464856099BDEA5CBE45A312599D32E50B2695E22</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toucan.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PLV25N8T7A</string>
						<key>name</key>
						<string>Hari Prashath Manivasagam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>464856099BDEA5CBE45A312599D32E50B2695E22</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PLV25N8T7A</string>
						<key>name</key>
						<string>Hari Prashath Manivasagam</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PLV25N8T7A.Com.PetFolio.Infinitus</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>PLV25N8T7A</string>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>PLV25N8T7A.Com.PetFolio.Infinitus</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Petfolio.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e93ff1a3-f5e7-4242-bb51-4673277fe99f</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: Com.PetFolio.Infinitus</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PLV25N8T7A</string>
				<key>name</key>
				<string>Hari Prashath Manivasagam</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
